html {
     scroll-behavior: smooth;
}
body {
    background: radial-gradient( #7081cd 0%, #103992 100%);
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
   text-align: center;
}

h1 {
    text-align: center;
    font-size: 6rem;
    margin: 3.5rem;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 1rem;
    color: yellow;
    text-shadow: -6px 0px 10px #0C0C0C;
}
.create-button button {
   
    margin: 2rem auto;
    border: none;
    background-color: rgb(255, 255, 0);
    width: auto;
    height: 3rem; 
    padding: 0 1rem;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1.4rem;
}
.create-button button:hover {
    background-color: rgb(255, 187, 0);
    color: #FFFFFF;
} 

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 70vw;
    margin : auto;
    border: 4px solid black;
    /* border-radius: 20px; */
    padding: 3rem;
    background-image: url('https://i.pinimg.com/474x/2e/b7/7a/2eb77afa6dc9669a7d5f3a6ce77e1e07.jpg');
    background-size: cover;
}

.pokemonItem {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   max-width: 170px;
   max-height: 250px;
   background-color: white;
   contain:content;
   margin: 1rem;
   border-radius: 10px;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
    opacity: 0.6;
}
.pokemonItem:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px 10px black;
    opacity: 1;
}
.pokemonItem:active{
    transform: translateY(-1px);
}
.pokemonItem p {
    text-align: center;
}
.pokemonItem img {
    max-height: 220px;
    width: 100%;
    
}
.name {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: rgba(164, 29, 29, 0.573);
 

}
.controllers {
   background-color: #b29b188f;
   display: flex;
   justify-content: space-evenly;
}
.controllers .button form{
    width: 100%;
    border: none;
    text-align: center;

}
.controllers button,
.button #input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
   
}
.button #input{
    margin: auto;
    width: 5.1rem;
    height: 2rem;
}
.controllers .button {
    text-align: center;
    
    border: none;
    width: 50%;
    
    background-color: transparent;
    color: rgb(255, 255, 255);
    height: 2rem;
}
.controllers .button:hover {
    background-color: rgb(255, 187, 0);
    color: #FFFFFF;
  
    
} 


/* //// . Show Route ////// */
.ball-container {
    width: 100vw;
    height: 100vh;
    border: 6px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.back-button {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 7rem;
    height: 4rem;
}
.back-button button {
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 220, 0);
    border: none;
    font-size: 3rem;
}
.back-button button:hover {
    font-size: 3.3rem;
    font-weight: 900;
}
.back-button button:active {
    font-size: 3.1rem;
}
.ball {
    position: relative;
    line-height: 0;
    width: 48%;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 6px #FFFFFF;
}
.ball::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.ball-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    

    
}
.show-banner {
   position: relative;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border-bottom: 7px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#id {
   position: absolute;
   top: 5%;
   width: 100%;
   margin: auto;
 }

/* ---------------------------------------- */
.show-banner img {
   max-height: 60%;
   width: auto;
   margin-bottom: 1.5rem;
   animation: vibrate 2s ease 0s infinite normal forwards;
}
@keyframes vibrate {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-2px, -2px);
	}

	20% {
		transform: translate(2px, -2px);
	}

	30% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	50% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, -2px);
	}

	70% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	90% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}
/* ----------------------------------------- */


.inner-circle {
    position: absolute;
    line-height: 0;
    width: 20%;
    bottom: 38%;
    left: 38%;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 50%;
    background: radial-gradient( #ffffff 0%, rgb(175, 171, 171) 101%);
    z-index: 5555;
}
.inner-circle::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.inner-circle h3 {
    position: absolute;
    bottom: 50%;
    width: 100%;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: .2rem;
    color: yellow;
    text-shadow: -6px 0px 15px #0C0C0C;
}
.show-body {
    position: relative;
    border-top: 7px solid black;
    background-color: rgb(189, 64, 52);
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.1em;
}
.type-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4{
    margin: .5em;
}
.type li {
  border:1px solid black ;
  padding: .5em;
  background-color: #2A55B3;
  margin-top: 15px;
  display: inline-block;
}
.stats-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.stats-list li {
    margin: .5rem auto;
    margin-top: 15px;

}
.stats-list li span {
    background-color: black;
}
.extra {
    grid-column: 1/3;
    margin: auto;
   
}
.extra p {
    padding: 2px;
     height: 1.8rem;
     background-color: #2A55B3;
   
}
@media (max-width: 1400px) {
    .ball {
        width: 60%;
    }
}
@media (max-width: 1200px) {
    .ball {
        width: 70%;
    }
}
@media (max-width: 900px) {
    .ball {
        width: 80%;
    }
}

/* //-====== NEW ============// */
 .new-container {
    width: 100vw;
    height: 100%;
 }
 form {
    position: relative;
    width: 80%;
    height: 50%;
    border:4px solid black;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
 }
 fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
    margin: auto;

 }
 fieldset input,
 label{
   margin: .3rem;
 }

 #submit {
    position: absolute;
    top:88%;
    left: 45%;
    border: none;
    background-color: rgb(255, 255, 0);
    width: 5rem;
    height: 3rem; 
    border-radius: 10%;
    font-weight: 600;
   
 }
 #submit:hover {
    border: 3px solid rgb(63, 60, 59);
    background-color: rgb(255, 187, 0);
    color: #FFFFFF;
    
 }
 #scroll-top {
    margin-top: 2rem;
    border: none;
    background-color: rgb(255, 255, 0);
    width: 100%;
    height: 3rem; 
    border-radius: 10%;
    font-weight: 600;
    font-size: 1.4rem;
 }
 #scroll-top:hover{
    background-color: rgb(255, 187, 0);
    color: #FFFFFF;
 }
 h4 {
    color: #FFFFFF;
    font-size: 1.5rem;
 }
 #show-edit button{
    position: absolute;
    right: 5%;
    top: 5%;
    border: none;
    background-color: rgb(255, 255, 0);
    width: 5rem;
    height: 3rem; 
    border-radius: 10%;
    font-weight: 600;
    font-size: 1.4rem;
 }
 #show-edit button:hover{
    background-color: rgb(255, 187, 0);
    color: #FFFFFF;
 }

